In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.3'

##### Pandas series

In [4]:
Products = ['A','B','C']
type(Products)

list

In [5]:
products_cate = pd.Series(Products)

In [6]:
products_cate

0    A
1    B
2    C
dtype: object

In [7]:
daily_rate_dollars = pd.Series([40,50,60,30])
print(daily_rate_dollars)

0    40
1    50
2    60
3    30
dtype: int64

##### Relationship between pandas and numpy.

In [8]:
import numpy as np

In [9]:
array_a = np.array([10,20,30,40,50])
array_a

array([10, 20, 30, 40, 50])

In [10]:
type(array_a)

numpy.ndarray

In [11]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [12]:
salaries_dict = {
    "John Doe": 5200,
    "Jane Smith": 4800,
    "Michael Roberts": 5000,
    "Emily Davis": 5300,
    "Chris Green": 4600,
    "Jessica Wilson": 4950,
    "Daniel Kim": 5100,
    "Sophia Martinez": 4700
}

# 1. Convert the salaries_dict dictionary into a pandas Series called 
# monthly_salaries_usd_series. Name the Series "Monthly Salaries ($)".

monthly_salaries_usd_series = pd.Series(salaries_dict)
monthly_salaries_usd_series.name = "Monthly Salaries ($)"

In [14]:
# 2. Display the content of monthly_salaries_usd_series.
print(monthly_salaries_usd_series)

# 3. Use a pandas method to obtain the highest salary value stored in the Series.
print(monthly_salaries_usd_series.max())

# 4. Use a pandas method to retrieve the name of the person with the lowest 
# monthly salary.
print(monthly_salaries_usd_series.idxmin())

# 5. Use a pandas method to display the top five rows from the Series.
print(monthly_salaries_usd_series.head())

# 6. Use a pandas method to display the last three rows from the Series.
print(monthly_salaries_usd_series.tail(3))

John Doe           5200
Jane Smith         4800
Michael Roberts    5000
Emily Davis        5300
Chris Green        4600
Jessica Wilson     4950
Daniel Kim         5100
Sophia Martinez    4700
Name: Monthly Salaries ($), dtype: int64
5300
Chris Green
John Doe           5200
Jane Smith         4800
Michael Roberts    5000
Emily Davis        5300
Chris Green        4600
Name: Monthly Salaries ($), dtype: int64
Jessica Wilson     4950
Daniel Kim         5100
Sophia Martinez    4700
Name: Monthly Salaries ($), dtype: int64