In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.3'

##### Pandas series

In [3]:
Products = ['A','B','C']
type(Products)

list

In [4]:
products_cate = pd.Series(Products)

In [5]:
products_cate

0    A
1    B
2    C
dtype: object

In [8]:
daily_rate_dollars = pd.Series([40,50,60,30])
print(daily_rate_dollars)

0    40
1    50
2    60
3    30
dtype: int64

##### Relationship between pandas and numpy.

In [9]:
import numpy as np

In [10]:
array_a = np.array([10,20,30,40,50])
array_a

array([10, 20, 30, 40, 50])

In [11]:
type(array_a)

numpy.ndarray

In [12]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64